.bande-grey-c{
    background-color: rgb(145, 145, 145);
}

.bande-white{
    background-color: rgb(255, 255, 255);
}

.bande-back{
    background-color: #252525;
}

.humbed{
    /* background-image: url(../image/back-g/Illustration-robotique.png); */
    background-color: #253b80;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
    color: white;
}

.all-bordeur{
    border-left: 2px solid #252525;
    border-right: 2px solid #252525;
    margin-left: 5vw;
    margin-right: 5vw;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvnjJWR-QUlPJ52TkVc-F8PuNXi9ZbT1uUQQ&usqp=CAU);
}


/* ### Bordeur style ### */


        @import url(https://fonts.googleapis.com/css?family=Bangers);
        .box-border:not(.nostyle){
        background:#fff;
        border: solid black;
        border-color: black;
        float:left; 
        }

        .box1{
        border-width: 3px 4px 3px 5px;
        border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
        /* transform: rotate(2deg); */
        }
        .box2{
        border-width: 3px 3px 5px 5px;
        border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
        /* transform: rotate(-2deg); */
        }

        .box3{
        border-width: 5px 3px 3px 5px;
        border-radius:95% 4% 97% 5%/4% 94% 3% 95%;
        /* transform: rotate(2deg); */
        }

        .oddboxinner{
        margin:15px;
        transform: rotate(-2deg);
        }
        .evenboxinner{
        transform: rotate(2deg);
        margin:15px;
        padding:0 5px;
        float:right;
        background:#ddd;
        border:1px solid #222;
        box-shadow:3px 3px 0 #222;
        }