/* ### Media Max 1075px ### */

@media (max-width: 1075px) {
    body{
      color: rgb(255, 255, 255);
      background-image: url(../img/back-g/background-lycée.jpg);
      font-size: x-large;
      font-family: 'Montserrat', sans-serif;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      background-position-y: bottom;
      background-position-x: center;
    }
  
    .hover-black:hover{background-color: #212327d8; color: white !important;}
    
    /* ### box ici ### */
    .box{
        display: block;
        margin-top: 20px auto auto 0px;
        border-radius: 15px;
    }
    .bg-box{
      background-color: rgba(0, 0, 0, 0.45);
      border: 1.8mm solid rgba(0, 0, 0, 0.50);
    }
  
  
    .ET, .Titre_1{font-size: x-large;}
  
    
  .bg-box{padding: 1vw;max-height: 300px;}
  .bg-box-vip{padding: 1vw;max-height: 400px;}
    /* header{margin-top: 70px;} */
    nav{background-color: #179bd7;}
    .name-page{font-size: medium;}
    .mini{font-size: x-large !important;}
    .footer-info{
      display: block;
      justify-content: space-around;
      align-content: center;
      flex-direction: row;
      align-items: center;
    }
    .map{
      width: 100%;
      height: 30%;
    }
    body{
      color: rgb(255, 255, 255);
      background-image: url(../img/back-g/background-lycée.jpg);
      font-size: x-large;
      font-family: 'Montserrat', sans-serif;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      background-position-y: bottom;
      background-position-x: center;
    }

    .txt-img-flex{
      display: flex;
      align-items: center;
      justify-content: space-around;
      align-content: center;
      flex-wrap: nowrap; 
  }

  .txt-img-flex-col{flex-direction: column;}
  .txt-img-flex-col-re{flex-direction: column-reverse;}
  }
  
  /* ### Media Min 1075px ### */
  
  @media (min-width: 1075px) {
    
    /* .box{max-width: 70vw;} */
  
    .hover-black{background-color: rgba(255,255,255,.8); color: #212327 !important;}
    .box{margin: 3vw;}
    .content-txt{
      max-width: 100vw;
    }
    .map{
      width: 100vh;
      height: 400px;
    }
    .footer-info{
      display: flex;
      justify-content: space-around;
      align-content: center;
      flex-direction: row;
      align-items: center;
    }
  
    nav{background-color: #179bd7;}
    
    section{font-size: x-large;}

    .txt-img-flex{
      display: flex;
      align-items: center;
      justify-content: space-around;
      align-content: center;
      flex-wrap: nowrap;
      /* flex-direction: column;     */
    }

  }
  
  /* ### Media Max 507px ### */
  
  @media (max-width: 507px){
    /* .trans{  margin-top: -73px;} */
    .trans-txt{font-size: medium;}
    .ET, .Titre_1{font-size: large;}
      .all{font-size: 15px;}
      .container-compte{padding: 15px;}
      .cancelbtn{padding: 5px 9px;font-size: xx-small;}
      .titre-nav{font-size: 22px;}
      .Titre_01{font-size: 26px;}
  }